@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anybody", sans-serif;
}

.container {
    width: min(90%, 1120px);
    margin-inline: auto;
}

header {
    background-color: #ffffff;
    height: 4.5rem;
    position: sticky;
    width: 100%;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.desktop-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.desktop-menu h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

.desktop-menu h1 span {
    color: #ed563b;
}

.menus-link {
    display: flex;
    gap: 40px;
}

.menus-link li {
    list-style: none;
}

.menus-link li a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    color: #2b2b2b;
}

.menus-link li a:hover {
    color: #ed563b;
}

.hero {
    position: relative;
    height: calc(100vh - 4.5rem);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 45, 57, 0.8); 
    z-index: -1; 
}

.hero .container {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.hero h1 span {
    color: #ed563b;
}

.btn {
    padding: 0.9rem 2rem;
    font-size: 1rem;
    background-color: #ed563b;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #fafaf6;
    color:black;
}

.hamburger {
    display: none;
}

.mobile-menu {
    display: none;
}

.btn-primary {
    font-size: 1rem;
    background-color: #ed563b;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    transition: background-color 0.3s ease;
    display: inline-block;
    padding: 10px 20px;
    width: 100px;
    text-decoration: none;
    text-align: center;
}

.btn-primary:hover {
    background-color: #b83923;
}
/* program section */
.program-section{
    height: calc(90vh - 4.5rem);
}
.program{
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}
.program h1{
    margin-bottom: 20px;
}

.program h1 span{
    color: #ed563b;
}
.program img{
    margin-bottom: 20px;
}
.program p{
    color: #6e6e6e;
    line-height: 30px;
}
.programs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  gap: 30px; 
  padding: 50px;
  width: 70%;           
  margin: 0 auto;      
  justify-content: center; 
}
.program-item{
    display: flex;
    gap: 30px;
}
.program-item img{
    width: 120px;
    height: 120px;
}
.program-text h3{
    margin: 10px 0;
}
.program-text p{
    font-size: 15px;
    line-height: 30px;
    color: #818181;
}
.program-text p a{
    text-decoration: none;
    color: rgb(65, 147, 255);
}
.program-text a{
    text-decoration: none;
    color: #ed563b;
    padding-top: 10px;
}
/* member section  */

.member{
    background-image: url(member.jpg);
    height: 400px;
    padding: 50px 30px;
    margin-top: 50px;
    margin-bottom: 80px;    
 display: flex;              
  flex-direction: column;      
  justify-content: center;     
  align-items: center;         
  text-align: center;  
  color: #fff;
}
.member h1{
      text-transform: uppercase;
margin-bottom: 20px;
}
.member h1 span{
      color: #ed563b;

      
}
.member p{
    margin-bottom: 20px;
    line-height: 30px;
}

.member button{
    padding: 0.9rem 2rem;
    font-size: 1rem;
    background-color: #ed563b;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* tablet and mobile phones */
@media(max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    header {
    height: 4.5rem; 
    background-color: transparent; 
    position: absolute; 
    top: 0;
    left: 0;
    }
  i {
        z-index: 11111;
    }
    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15px;
        right: 5%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ed563b;
        color: white;
        font-size: 2rem;
        z-index: 10000;
    }

     .mobile-menu {
        display: flex;
        justify-content: center;
        position: fixed;
        background-color: #2b2b2b;
        inset: 0 0 0 0;
        color: white;
        transform: translateX(100%);
        transition: transform 0.35s ease-in-out;
        z-index: 9999;
    }

    .mobile-menu[data-visible="true"] {
        transform: translateX(0%);
    }

    .hamburger i[data-visible="true"] {
        display: block;
    }

    .hamburger i[data-visible="false"] {
        display: none;
    }

    .mobile-menu .navigation {
        margin-top: 5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
        width: 100%;
    }

    .mobile-menu .navigation .menus-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu .navigation h1 {
        font-size: 2rem;
        font-weight: 700;
        border-bottom: 1px solid white;
        padding: 10px;
    }

    .mobile-menu a {
        color: white !important;
    }

    .hero {
        height: 100vh;  
    }

    .hero h1 {
        font-size: 3.0625rem;
    }
}
